<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Módulo HTML - Proyecto C-11</title>
</head>
<body>

    <header>
        <div> <img src="images/logo-mercado-liebre.svg" alt="" width="400" height="auto"> </div>
        <nav>Barra de búsqueda</nav>
        <br>
        <h4>Compra en cuotas y sin tarjeta de crédito</h4>
        <nav>
            <ul>
                <a href="#"><li>Ofertas</li></a>
                <a href="#"><li>Tiendas Oficiales</li></a>
                <a href="#"><li>Vender</li></a>
                <a href="#"><li>Ayuda</li></a>
            </ul>

            <ul>
                <a href="#"><li>Creá tu cuenta</li></a>
                <a href="#"><li>Ingresá</li></a>
                <a href="#"><li>Mis compras</li></a>
            </ul>
        </nav>

    </header>
    
    <main>

        <section>
            <strong><h2>Basado en tu última visita</h2></strong>
            <div>
                <article>
                    <img src="images/img-cafetera-moulinex.jpg" alt="" width="200" height="auto">
                    <p>$6.770</p>
                    <p>40% OFF</p>
                    <h3>Cafetera Moulinex</h3>
                </article>
            <br>
                <article>
                    <img src="images/img-macbook-pro-2019.jpg" alt="" width="200" height="auto">
                    <p>$230.000</p>
                    <p>20% OFF</p>
                    <h3>MacBook Pro 2019</h3>
                </article>
            <br>
                <article>
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="" width="200" height="auto">
                    <p>$70.500</p>
                    <p>10% OFF</p>
                    <h3>Samsung Galaxy S10</h3>
                </article>
            <br>
                <article>
                    <img src="images/img-tv-samsung-smart.jpg" alt="" width="200" height="auto">
                    <p>$23.200</p>
                    <p>5% OFF</p>
                    <h3>SmartTv Samsung 43"</h3>
                </article>
            </div>
        </section>
<br>
        <section>
            <strong><h2>Ofertas</h2></strong>
            <div>
                <article>
                    <img src="images/img-cafetera-moulinex.jpg" alt="" width="200" height="auto">
                    <p>$6.770</p>
                    <p>40% OFF</p>
                    <h3>Cafetera Moulinex</h3>
                </article>
            <br>
                <article>
                    <img src="images/img-macbook-pro-2019.jpg" alt="" width="200" height="auto">
                    <p>$230.000</p>
                    <p>20% OFF</p>
                    <h3>MacBook Pro 2019</h3>
                </article>
            <br>
                <article>
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="" width="200" height="auto">
                    <p>$70.500</p>
                    <p>10% OFF</p>
                    <h3>Samsung Galaxy S10</h3>
                </article>
            <br>
                <article>
                    <img src="images/img-tv-samsung-smart.jpg" alt="" width="200" height="auto">
                    <p>$23.200</p>
                    <p>5% OFF</p>
                    <h3>SmartTv Samsung 43"</h3>
                </article>
            </div>
        </section>
    </main>
   
    <footer>

        <section>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
<br>
        <section>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
<br>
        <section>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
<br>
        <section>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
<br>


    </footer>


</body>
</html>