body {
    background-color: #EAC926;
    font-family: "Roboto", sans-serif;
    border-spacing: 0ch;
    margin: 0;
}
main {
    text-align: center;
}
footer {
    display: block;
    background-color: #fff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

body header h4 {
    text-align: center;
}
body header li {
    list-style: none;
}

.logo {
    margin-left: 45px;
}
.barra-busqueda {
    margin-left: 25px;
}
.link{
    color: black;
    text-decoration: none;
    margin-left: 0px;
}

.menu-burger{
    background-color:#1259c3;
    color: #ffffff;
    font-size: 24px;
    padding: 14px;
    border-radius: 6px;
}
.icon{
    text-align: center;
}
.titular-footer{
    color: rgb(88, 88, 88);
}
.icon-footer{
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
}

.titulares{
    font-size: 24px;
}
.cuerpos-de-texto {
    font-size: 12px;
}
.precios {
    font-size: 18px;
}
.desc {
    font-size: 16px;
}
.descip {
    font-size: 16px;
}