*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}
/* reglas generales  */
body {
    width: 100%;
    font-family: "Roboto", sans-serif;
    margin: 0;
    background-color: #ebebeb;
}
header {
    background-color: #EAC926;
}

main{
    padding: 15px 0px;
}
/* Seteo los tamaños de letra */
.headline{
    font-size: 24px; 
    text-align: center;
    margin: 20px 0px;
}
.body-text { font-size: 12px; }
.precios { 
    display: flex;
    font-size: 18px;
    flex-grow: 0.3;
    font-weight: 700;
}
.desc { 
    display: flex;
    font-size: 16px;
    color: #39b54a; 
    flex-grow: 0.7;
    font-weight: 300;
 }
 
.descripcion { 
    font-size: 16px; 
    color: #666666;
    font-weight: 400;
    display: none;
}

header div div i.hand{
    font-size: 10px;
}

/* trabajo sobre el header */
.main-header {
    max-width: 1200px;
    padding: 20px;
    margin: auto;
}
.main-header-top-bar{
    display:block;
}
/* logo, barra de busqueda y copy  */
div.logo-search {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.logo {
    display: inline-block;
    width: 80px;
}

body header div div form {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 50%;
}

.search-field{
    border: none;
    border-right: none;
    border-radius: 5px 0 0 5px;
    margin-right: 0px;
    margin-left: 10px;
}
input[type="text"].search-field::placeholder{
    font-size: 10px;
    padding-left: 4px;
    color: #333;
}

input:focus{outline: none; background-color: none;}
/*Solo le puedo decir al input del campo de busqueda que tome estas propiedades mediante esta gramatica*/
/* Aprovecho la situación e ingreso los inputs del register y del login */
input[type="text"], input[type="email"], input[type="date"], input[type="file"], input[type="password"]{
    width: 100%;
    font-size: 10px;
    letter-spacing: 1px;
    color: #222;
}

.search-button{
    width: 2.2rem;
    background-color: white;
    border: 1px solid #fff;
    border-left: 0.8px solid rgb(216, 213, 213);
    margin-left: 0px;
    border-radius: 0 5px 5px 0;
    padding: 4px 0px;
}
.copy-header{
    font-weight: 400;
    text-align: center;
    margin-right: 1rem;
}
/* navegacion interna */
.burger-menu{
    display: block;
    background-color:#1259c3;
    color: #ffffff;
    max-width: 2.5rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
    text-align: center;
    font-size: 0.7rem;
    margin:auto;
    margin-top: 10px;
}
.container-nav{
    display:none;
}
.container-nav ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.container-nav a{
    text-decoration: none;
    color: #333;
    display:inline-block;
    padding: 0.2rem;
    text-align: justify;
}
.left-nav{
    text-align: left;
    margin-left: 0px;
}

section.banner img{
    width: 100%;
}
/* Empiezo a trabajar en el main */
main {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
}
/* Tomo cada producto le pongo un color de fondo, un margen y le doy la sombra */
main section article {
    margin: 10px 0px;
    background-color: #FFF;
    /* box-shadow: 0px 0px 10px rgb(100, 100, 100); */
    transition: all 450ms;
}
/* Trabajo sobre cada producto */
main section article img{
    width: 100%;
}
main section article .product-info{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}
main section div.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
main section article i {
    display: block;
    font-size: 16px;
    padding: 5px ;
    width: 30px ;
    height: 30px ;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: all 0.5s;
}
/* agrego las transiciones */
main section div article:hover {
    box-shadow: 0 0 10px;
}
main section div article:hover .descripcion {
    display: block;
    color: black;
    margin-top: 0px;
}
main section article:hover i{
    transform: rotate(-0.25turn);
}
.icon-footer:hover{
    color: #f7fa5e
}
/* Trabajo sobre el footer */
.icon-footer{
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
    transition: all 450ms;
}
footer{
    background-color: #fff;
}
footer div.main-footer {
    max-width: 1200px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
}
footer div.main-footer section div{
    padding-top: 10px;
}
footer div.main-footer section p {
    padding-top: 15px;
    padding-bottom: 15px;
}
.footer-headline{ 
    color: #333;
    font-weight: bold; 
}
/* Register.html y Login.html*/

body main form{
    display: block;
    margin: auto;
    border: none;
    padding: 15px 25px;
}
body main form input, body main form input.input-on-log{
    width: 100%;
    padding: 20px;
    margin: 10px 0px 24px 0px;
    background-color: #fff;
    border: none;
}
/* Exclusivos de register.html */
body main form div.select-opt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 22px;
}
form input[type=checkbox], input[type=radio] {
    height: 15px;
    width: 20px;
    margin-top: 25px;
    margin-right: 5px;
    margin-bottom: 25px;
    background-color: #fff;
    vertical-align: baseline;
}
body main form div.radio-box, body main form div.checkbox-box{
    display: block;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: flex-start;
}
body main form div label[for="date-of-birth"], label[for="profile"], label[for="categorie"]{
    font-size: 18px;
}
body main form div.checkbox-box label[for="checkbox"], label[for="radio"]{
    vertical-align: center;
    font-size: 9px;
}

.danger-button{
    display:block;
    margin: 15px 0px;
    padding: 10px 5px;
    border-radius: 2px;
    border: none;
    width: 100%;
    background-color: #f18203;
    transition: all 450ms;
}
.danger-button:hover{
    background-color: #f31000;
}

.buttons-on-reg{
    display: flex;
    justify-content: space-between;
    margin: auto;
}
/* Actua como login y como enviar register */
.login-button{
    display:block;
    margin: 15px 0px;
    padding: 10px 5px;
    border-radius: 2px;
    border: none;
    width: 100%;
    background-color: #9ed3ff;
    transition: all 450ms;
}
.login-button:hover{
        background-color: #f7fa5e;
}

/* Login.html */
.input-on-log{
    width: 100%;
    padding: 2px 5px;
    margin: 15px 0px;
}

/* Trabajos sobre los media queries, mobile first */

@media (min-width: 361px){
    main section article .description{
        display: block;
    }
    .precios,
    .desc{
        width: 50%;
    }
    body main form{ 
        width: 340px;
    }
}

@media (min-width: 555px){
    body main form div.checkbox-box label[for="checkbox"], label[for="radio"]{
        font-size: 16px;
    }
    main section div.products article{
        width: 40%;
    }
    body main form {
        width: 500px;
    }
    .copy-header{
        max-width: 180px;
        text-align: right;
    }
    .main-header-top-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    main div.buttons-on-reg button {
        width: 45%;
    }
    .burger-menu{
        display: block;
        background-color:#1259c3;
        color: #ffffff;
        max-width: 3rem;
        padding: 1rem;
        border-radius: 0.5rem;
        text-align: center;
        font-size: 1rem;
        margin:auto;
        margin-top: 15px;
    }
    header div div.logo-search{
        width: 70%;
        justify-content: flex-start;
    }
    body header div div form{
        width: 75%;
    }
}



@media (min-width: 768px){
    .container-nav { margin-top: 1rem; }
    body header div div form{
        width: 70%;
    }
    header div div.logo-search{
    justify-content: space-between;
    }
    .logo{
        width: 100px;
        margin-left: 15px;
    }
    .search-field{
        width: 150%;
        border: none;
        border-right: none;
        border-radius: 8px 0 0 8px;
        margin-right: 0px;
    }
    .search-field::placeholder{
        font-size: 14px;
        padding-left: 4px;    
    }
    .search-button{
            width: 4rem;
            background-color: white;
            border: 1px solid #fff;
            border-left: 0.8px solid rgb(216, 213, 213);
            margin-left: 0px;
            border-radius: 0 8px 8px 0;
            padding: 10px 0px;
    }
    
    .burger-menu{
        display: none;
    }
    .container-nav{
        display: flex;
        justify-content: space-between;
    }
    .container-nav ul{
        display:flex;
    }
    .container-nav li{
        margin: 0.2rem;
    }
    main section div.products article{
        width: 20%;
    }
    body main form {
        width: 768px;
    }
    main div.buttons-on-reg button {
        width: 45%;
    }
}



@media (min-width: 1200px) {

    .logo{ margin-left: 0px; }
    .main-header, main {
        max-width: 1200px;
        margin: auto;
    }
    .copy-header{ 
        max-width: none;
        margin: 0px;
    }
    .container-nav{ margin-top: 1.5rem; }
    .container-nav li{ margin: 0 0.8rem; }
    footer div.main-footer {
        padding: 25px 0px;
        max-width: 1200px;
        display: flex;
    }
    footer div.main-footer section div {
        display: inline-block;
        max-width: 30%;
        margin: auto;
    }
    footer div.main-footer p { padding: 10px 0px; }
    body main form { width: 900px; }

    header div.main-header-top-bar{
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    header div.main-header-top-bar div .logo-search{
        display: flex;
        width: 70%;
        justify-content: space-between;
    }
    header div.main-header-top-bar div .logo{
        display: inline-block;
        width: 120px;
    }
    header div.main-header-top-bar form{
        width: 80%;
    }
    header div.main-header-top-bar div.copy-header{
        width: 25%;
    }
}





