*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}
/* reglas generales  */
body {
    width: 100%;
    font-family: "Roboto", sans-serif;
    margin: 0;
    background-color: #ebebeb;
}
header {
    background-color: #EAC926;
}

main{
    padding: 15px 0px;
}
/* Seteo los tamaños de letra */
.headline{
    font-size: 24px; 
    text-align: center;
    margin: 20px 0px;
}
.body-text { font-size: 12px; }
.precios { 
    display: flex;
    font-size: 18px;
    flex-grow: 0.3;
    font-weight: 700;
}
.desc { 
    display: flex;
    font-size: 16px;
    color: #39b54a; 
    flex-grow: 0.7;
    font-weight: 300;
 }
 
.descripcion { 
    font-size: 16px; 
    color: #666666;
    font-weight: 400;
    display: none;
}

/* trabajo sobre el header */
.main-header {
    max-width: 1200px;
    padding: 20px;
    margin: auto;
}
/* logo barra de busqueda y copy  */
.logo-search {
    max-width: 500px;
    display: flex;
    flex-direction: row;
}
.logo {
    display: inline-block;
    width: 100px;
}
.copy-header{
    font-weight: 400;
    text-align: center;
    margin-right: 1rem;
}
/* navegacion interna */
.burger-menu{
    display: block;
    background-color:#1259c3;
    color: #ffffff;
    max-width: 3rem;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 1rem;
    margin:auto;
}
.container-nav{
    display:none;
}
.container-nav ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.container-nav a{
    text-decoration: none;
    color: #333;
    display:inline-block;
    padding: 0.2rem;
    text-align: justify;
}
.left-nav{
    text-align: left;
    margin-left: 0px;
}

section.banner img{
    width: 100%;
}
/* Empiezo a trabajar en el main */
main {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
}
/* Tomo cada producto le pongo un color de fondo, un margen y le doy la sombra */
main section article {
    margin: 10px 0px;
    background-color: #FFF;
    /* box-shadow: 0px 0px 10px rgb(100, 100, 100); */
    transition: all 450ms;
}
/* Trabajo sobre cada producto */
main section article img{
    width: 100%;
}
main section article .product-info{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}
main section div.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
main section article i {
    display: block;
    font-size: 16px;
    padding: 5px ;
    width: 30px ;
    height: 30px ;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: all 0.5s;
}


/* agrego las transiciones */
main section div article:hover {
    box-shadow: 0 0 10px;
}
main section div article:hover .descripcion {
    display: block;
    color: black;
    margin-top: 0px;
}
main section article:hover i{
    transform: rotate(-0.25turn);
}

.icon-footer:hover{
    color: #f7fa5e
}
/* Trabajo sobre el footer */
.icon-footer{
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
    transition: all 450ms;
}
footer {
    max-width: 1200px;
    display: block;
    background-color: #fff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.footer-headline{ 
    color: #333;
    font-weight: bold; 
}
.search { 
    display: inline-block;
    max-width: 100%;
}


/* Register.html */

body main form{
    display: block;
    margin: auto;
    padding: 15px 25px;
    background-color: white;
    border: #666 1px solid;
    border-radius: 5px;
}

form div, form label{
    font-size: 14px;
}


.input-on-reg{
    padding: 6px;
    border: #666 1px solid;
    display: block;
    border-radius: 2px;
    width: 100%;
    margin: 10px 0px;
    
}


.danger-button{
    display:block;
    margin: 15px 0px;
    padding: 2px 5px;
    border-radius: 2px;
    width: 100%;
    background-color: #f18203;
    transition: all 450ms;
}

.danger-button:hover{
    background-color: #f31000;
}

.buttons-on-reg{
    display: flex;
    justify-content: space-around;

    margin: auto;
}
main div.buttons-on-reg button {
    width: 150px;
}

/* Login.html */

main.login-form div {
    padding: 10px;
    margin:auto;
    width: 90%;
}
.input-on-log{
    width: 100%;
    padding: 2px 5px;
    margin: 15px 0px;
}

.login-button{
    display:block;
    margin: 15px 0px;
    padding: 2px 5px;
    border-radius: 2px;
    width: 100%;
    background-color: #9ed3ff;
    transition: all 450ms;
}

.login-button:hover{
        background-color: #f7fa5e;
}



}
/* Trabajos sobre los media queries, mobile first */
/* Se intentó dejar fijo el botón de busqueda limitando el recuadro de busqueda, sin éxito, solo funciona desde el html usando la prop style="width..."
@media (min-width: 0px max-width: 355px){
    .search-field{
        width: 50px;
    }
} */

@media (min-width: 361px){
    
    main section article .description{
        display: block;
    }

    .precios,
    .desc{
        width: 50%;
    }
    body main form{ 
        width: 340px;
    }
}

@media (min-width: 555px){
    main section div.products article{
        width: 40%;
    }
    body main form {
        width: 500px;
    }
    .copy-header{
        max-width: 180px;
        text-align: right;
    }
    .main-header-top-bar{
        display: flex;
        justify-content: space-between;
    }
    main div.buttons-on-reg button {
        width: 220px;
    }
}



@media (min-width: 768px){
    .logo{
        width: 150px;
    }
    .burger-menu{
        display: none;
    }
    .container-nav{
        display: flex;
        justify-content: space-between;
    }
    .container-nav ul{
        display:flex;
    }
    .container-nav li{
        margin: 0.2rem;
    }
    main section div.products article{
        width: 20%;
    }
    body main form {
        width: 768px;
    }
    main div.buttons-on-reg button {
        width: 300px;
    }
}

@media (min-width: 1200px) {

    .main-header, main {
        max-width: 1200px;
        margin: auto;
        }
    .main-header-top-bar{
        align-items: center;
    }
    .logo{
        width: 220px;
    }
    .copy-header{
        max-width: none;
        margin: 0px;
    }
    .container-nav{
        margin-top: 1.5rem;
    }
    .container-nav li{
        margin: 0 0.8rem;
    }
    footer {
        padding: 25px 0px;
        max-width: 1200px;
        display: flex;
    }
    footer section div {
        display: inline-block;
        max-width: 30%;
        margin: auto;
    }
    footer p {
        padding: 10px 0px;
    }
    body main form {
        width: 900px;
    }
}